engine-strict=true
use-node-version=18.19.1
legacy-peer-deps=true
target_platform=linux
target_arch=x64
optional=false
fund=false
audit=false
strict-peer-dependencies=false
auto-install-peers=true
node-linker=hoisted
save-exact=true
package-manager=npm@10.2.4
package-lock=true
audit=false
fund=false
optional=false
production=false
node-options=--max_old_space_size=4096
strict-peer-dependencies=false
auto-install-peers=true
@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=rvCaY6+URWtDjB3F6tDhjugZDU8+7iyR63TZ9TPdMC4sqzgSZOwEZ7Qugs22AxRn